h1 {
  color: Green;
  font-style: oblique;
  text-align:left;
  line-height: inherit;

}
img{
  border-radius: 50%;
}
body
li{color: green;
font-style: italic;}
p{
  color: blue;
}
h2{ color:
  font-style: italic;
}
